* {
  box-sizing: border-box;
}

.preview {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
}

.header {
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.title {
  font-size: 2em;
}

/* Section */
.section {
  display: block;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 1.5em;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

.line1 {
  display: flex;
  justify-content: space-between;
}

.dates {
  font-style: italic;
}

.line2 {
  font-style: italic;
}

.line3 {
  padding-top: 0.5em;
}
