* {
  box-sizing: border-box;
}

.Preview {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  font-family: "Computer Modern";
}

.header {
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.name {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500;
}

/* Section */
.section {
  display: block;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.section-header {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.line1 {
  display: flex;
  justify-content: space-between;
}

.dates {
  font-style: italic;
}

.line2 {
  font-style: italic;
}

.line3 {
  padding-top: 0.5em;
}
