.App {
  box-sizing: border-box;
}

Header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: white;
}

.container {
  display: flex;
}

.Preview {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  background-color: green;
}

.Form {
  width: 50%;
  height: auto;
  background-color: aqua;
  padding: 5%;
}

/* When screen is longer than tall */
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .Form {
    width: 100%;
  }

  .Preview {
    width: 100%;
  }
}
